- content_for :head do
  %link{rel: 'stylesheet', href: '/css/card.css'}

.head-area
  %h1.title 神経質に対する余の特殊療法
  %p.author 森田 正馬
  %button.read-button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--colored
    %i.material-icons arrow_forward
