!!!
%html
  %head
    %meta{charset: charset ||= 'utf-8'}
    %title aozora mobile
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}

  %body
    %div{role: "main"}
      != yield