- content_for :head do
  %link{rel: 'stylesheet', href: 'https://code.getmdl.io/1.1.3/material.indigo-pink.min.css'}
  %link{rel: 'stylesheet', href: 'https://fonts.googleapis.com/icon?family=Material+Icons'}
  %link{rel: 'stylesheet', href: '/css/main.css'}
  %script{defer: true, src: 'https://code.getmdl.io/1.1.3/material.min.js'}
  = yield_content :main_head

.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
  %header.mdl-layout__header
    .mdl-layout__header-row
      .mdl-layout-spacer
      %nav.mdl-navigation
        %a.mdl-navigation__link{href: '/'} ホーム
        %a.mdl-navigation__link{href: '/index_pages/index_top.html'} 作品一覧
        %a.mdl-navigation__link{href: '/index_pages/whatsnew1.html'} 新着情報

  .mdl-layout__drawer
    %span.mdl-layout-title 青空文庫
    %nav.mdl-navigation
      %a.mdl-navigation__link{href: '/'} ホーム
      %a.mdl-navigation__link{href: '/index_pages/index_top.html'} 作品一覧
      %a.mdl-navigation__link{href: '/index_pages/whatsnew1.html'} 新着情報
      %a.mdl-navigation__link{href: 'http://www.aozora.gr.jp/guide/aozora_bunko_hayawakari.html'} 青空文庫早わかり
      %a.mdl-navigation__link{href: 'http://www.aozora.gr.jp/aozorablog/'} aozorablog
      %a.mdl-navigation__link{href: 'http://honnomirai.net/'} 本の未来基金
      %a.mdl-navigation__link{href: 'https://github.com/aozorahack'} aozorahack

  %main.mdl-layout__content{style: 'flex: 1 0 auto'}
    .page-content
      = yield

  %footer.mdl-mega-footer
    .mdl-mega-footer__middle-section
      .mdl-mega-footer__drop-down-section
        %input.mdl-mega-footer__heading-checkbox{type: 'checkbox', checked: true}
        %h1.mdl-mega-footer__heading 資料室
        %ul.mdl-mega-footer__link-list
          %li
            %a{href: 'http://www.aozora.gr.jp/aozora-manual/'} 青空文庫作業マニュアル
          %li
            %a{href: 'http://www.aozora.gr.jp/annotation/'} 注記一覧
          %li
            %a{href: 'http://kumihan.aozora.gr.jp/'} 組版案内
            / TODO: 足す
      .mdl-mega-footer__drop-down-section
        %input.mdl-mega-footer__heading-checkbox{type: 'checkbox', checked: true}
        %h1.mdl-mega-footer__heading 運営について
        %ul.mdl-mega-footer__link-list
          %li
            %a{href: 'http://www.aozora.gr.jp/cards/001790/card56572.html'} 青空文庫の提案
          %li
            %a{href: 'http://www.aozora.gr.jp/aozora_bunkono_shikumi.html'} 青空文庫のしくみ
          %li
            %a{href: 'http://www.aozora.gr.jp/kaikei/index.html'} 会計報告
            / TODO: 足す
      / TODO: 足す
