.metadata
  padding: 0 1em

.main_text
  text-align: justify
  line-height: 2.0
  padding: 0 1em

.bibliographical_information,
.notation_notes
  text-align: justify
  line-height: 1.7
  padding: 0 1em

#contents,
#card
  line-height: 1.7
  padding: 0 1em

.notation_notes
  ul
    margin: 0.2em 0 1em

#card
  margin-bottom: 3em

span.notes
  font-size: smaller

img.gaiji
  width: 1em
  height: 1em
  align: top

.gaiji_list
  margin-left: 3em

.keigakomi
  border: solid 1px

div.keigakomi
  padding-top: 0.5em
  padding-bottom: 0.5em
  padding-right: 0.5em
  padding-left: 1em

.futoji
  font-weight: bold

.shatai
  font-style: italic

.underline_solid
  font-style: normal
  padding: 0 0 7px 0
  background: url("css/kentenbosen/after/sen/bosen.png") repeat-x

.underline_double
  font-style: normal
  padding: 0 0 7px 0
  background: url("css/kentenbosen/after/sen/nijyubosen.png") repeat-x

.underline_dotted
  font-style: normal
  padding: 0 0 7px 0
  background: url("css/kentenbosen/after/sen/sasen.png") repeat-x

.underline_dashed
  font-style: normal
  padding: 0 0 7px 0
  background: url("css/kentenbosen/after/sen/hasen.png") repeat-x

.underline_wave
  font-style: normal
  padding: 0 0 7px 0
  background: url("css/kentenbosen/after/sen/namisen.png") repeat-x

.overline_solid
  font-style: normal
  padding: 7px 0 0
  background: url("css/kentenbosen/before/sen/bosen.png") repeat-x

.overline_double
  font-style: normal
  padding: 7px 0 0
  background: url("css/kentenbosen/before/sen/nijyubosen.png") repeat-x

.overline_dotted
  font-style: normal
  padding: 7px 0 0
  background: url("css/kentenbosen/before/sen/sasen.png") repeat-x

.overline_dashed
  font-style: normal
  padding: 7px 0 0
  background: url("css/kentenbosen/before/sen/hasen.png") repeat-x

.overline_wave
  font-style: normal
  padding: 7px 0 0
  background: url("css/kentenbosen/before/sen/namisen.png") repeat-x

@mixin bouten
  font-style: normal
  display: inline-table
  vertical-align: bottom
  position: relative
  top: -0.25em

@mixin bouten_base
  font-weight: normal
  display: table-row-group
  line-height: 1.5
  text-align: center

@mixin bouten_above
  font-weight: normal
  display: table-header-group
  font-size: 0.5em
  line-height: 0
  text-align: center

.sesame_dot
  span
    @include bouten
    b
      @include bouten_base
  span:after
    @include bouten_above
    font-family: serif
    content: "\FE45"

.white_sesame_dot
  span
    @include bouten
    b
      @include bouten_base
  span:after
    @include bouten_above
    font-family: serif
    content: "\FE46"

.black_circle
  span
    @include bouten
    b
      @include bouten_base
  span:after
    @include bouten_above
    content: "\25CF"

.white_circle
  span
    @include bouten
    b
      @include bouten_base
  span:after
    @include bouten_above
    content: "\25CB"

.black_up-pointing_triangle
  span
    @include bouten
    b
      @include bouten
  span:after
    @include bouten_above
    content: "\25B2"

.white_up-pointing_triangle
  span
    @include bouten
    b
      @include bouten_base
  span:after
    @include bouten_above
    content: "\25B3"

.bullseye
  span
    @include bouten
    b
      @include bouten_base
  span:after
    @include bouten_above
    content: "\25CE"

.fisheye
  span
    @include bouten
    b
      @include bouten_base
  span:after
    @include bouten_above
    content: "\25C9"

.saltire
  span
    @include bouten
    b
      @include bouten_base
  span:after
    @include bouten_above
    content: "\00D7"

.sesame_dot_after
  font-style: normal
  padding: 0 0 7px 0
  background: url("css/kentenbosen/after/ten/boten.png") repeat-x

.white_sesame_dot_after
  font-style: normal
  padding: 0 0 7px 0
  background: url("css/kentenbosen/after/ten/shirogoma.png") repeat-x

.black_circle_after
  font-style: normal
  padding: 0 0 7px 0
  background: url("css/kentenbosen/after/ten/maru.png") repeat-x

.white_circle_after
  font-style: normal
  padding: 0 0 7px 0
  background: url("css/kentenbosen/after/ten/shiromaru.png") repeat-x

.black_up-pointing_triangle_after
  font-style: normal
  padding: 0 0 7px 0
  background: url("css/kentenbosen/after/ten/kurosankaku.png") repeat-x

.white_up-pointing_triangle_after
  font-style: normal
  padding: 0 0 7px 0
  background: url("css/kentenbosen/after/ten/shirosankaku.png") repeat-x

.bullseye_after
  font-style: normal
  padding: 0 0 7px 0
  background: url("css/kentenbosen/after/ten/nijyumaru.png") repeat-x

.fisheye_after
  font-style: normal
  padding: 0 0 7px 0
  background: url("css/kentenbosen/after/ten/jyanome.png") repeat-x

.saltire_after
  font-style: normal
  padding: 0 0 7px 0
  background: url("css/kentenbosen/after/ten/batsu.png") repeat-x

.subscript
  font-size: small

.superscript
  font-size: small

.kaeriten
  font-size: small

.okurigana
  font-size: small

.dogyo-o-midashi
  display: inline

.dogyo-naka-midashi
  display: inline

.dogyo-ko-midashi
  display: inline

.mado-o-midashi
  display: inline

.mado-naka-midashi
  display: inline

.mado-ko-midashi
  display: inline

h3
  font-size: 125%
  margin: 0%
h4
  font-size: large
  margin: 0%
h5
  font-size: medium
  margin: 0%

.caption
  font-size: small
  font-weight: bold

.complex_ruby
  rt.real_ruby:before
    content: "（"
.complex_ruby
  rt.real_ruby:after
    content: "）"

.contents_invisible
  display: none

.contents_visible
  display: block
  margin-left: 3em
  text-indent: -1em

ruby
  display: inline-table
  vertical-align: bottom
  position: relative
  top: -0.1em

rb
  display: table-row-group
  line-height: 1.8
  text-align: center

rt
  display: table-header-group
  font-size: 0.5rem
  line-height: 0
  text-align: center

rp
  display: none
