.head-area
  position: relative
  margin: 0
  background: cornflowerblue
  color: white

  .title
    margin: 0
    font-size: 30px
    padding: .5em

  .author
    padding: 0 15px 1em

  .read-button
    position: absolute
    bottom: 0
    right: 1em
    transform: translateY(50%)
