a
  color: inherit
  text-decoration: none

.head-area
  position: relative
  margin: 0
  background: cornflowerblue
  color: white

  .title
    margin: 0
    font-size: 30px
    padding: .5em

  .author
    padding: 0 15px 1em
    font-size: 20px

  .read-button
    position: absolute
    bottom: 0
    right: 1em
    transform: translateY(50%)

.about-work
  .letter-types
    color: #aaa
    text-align: center

  .about-work-description
    margin: 1em

  .remarks
    margin: 1em
    color: #aaa

  .links
    display: -webkit-flex
    display: flex

    margin: 1em

    & > *
      display: inline-block
      vertical-align: middle
      padding: 0
      -webkit-flex-grow: 1
      flex-grow: 1

      &:not(:last-child)
        margin-right: 6px

  .shares
    text-align: center

    & > *
      display: inline-block
      vertical-align: middle
